
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
@media screen and (min-width: 992px){
body{
    height: 100vh;
    width: 100%;
    background-color: #D9D9D9;
}

.content p{
    font-family: "Suez One", serif;
    color: #795458;
    font-size: 70px;
    text-align: center;
}
.teamOpt{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 160px;
}
.member{
    width: 519px;
    height: 566px;
    background-color: antiquewhite;
}
.member img{
    width: 519px;
    height: 566px;
}
.teamOpt .opt p{
    font-size: 30px;
}

.container-fluid{
}
.navbar{
    font-family: "Suez One", serif;
    width: 100%;
    border-bottom: 1px solid #795458;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar p{
    font-size: 35px;
    margin-left: 78px;
    color: #795458;
}
.menu{
    transition: 0.5s;
    width: 108px;
    height: 19px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 78px;
}
.menu .one, .menu .two{
    transition: 0.5s;
}
.menu div{
    height: 6px;
    width: 108px;
    background-color: #795458;
}
.member:hover{
    animation: ease-out;
    animation-duration: 300ms;
    position: relative;
    right: 20px;
    bottom: 20px;
    box-shadow: 24px 24px 15px rgba(0,0,0, 0.25);
}

/* drop down menu */
.close{
    position: relative;
    z-index: 2;
    width: 108px;
    height: 19px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 78px;
    margin-top: 20px;
}
.close .one{
    transition: 0.5s;
    transform: rotate(35deg);
    background-color: white;
}
.close .two{
    transition: 0.5s;
    transform: rotate(-35deg);
    background-color: white;
}
.overlayOpen{
    transition: 0.2s;
    width: 100%;
    background-color: black;
    position: fixed;
    z-index: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Stardos Stencil", system-ui;
    font-weight: 400;
    font-size: 100px;
}
.overlayOpen a, .overlayClose a{
    text-decoration: none;
    color: white;
}
.overlayOpen a:hover, .overlayOpen a:focus{
    color: white;
}
.overlayClose{
    
    transition: 0.2s;
    width: 100%;
    background-color: black;
    position: fixed;
    z-index: 1;
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Stardos Stencil", system-ui;
    font-weight: 400;
    font-size: 100px;
}
}